* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    padding-top: 5rem;
}