* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desc {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 5rem;
}

.honest {
    text-decoration: underline;
}

.test {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 3rem;
}

.urgent {
    color: rgb(255, 115, 0);
    text-shadow: 2px 2px 5px black;
    text-decoration: none;
}